@import '~@/less/func.less';
.header {
  header {
    .main-container();
    height: 148px;
    padding-left: 126px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    .logo {
      margin-right: 263px;
      width: 203px;
      height: 70px;
      & > img {
        height: 100%;
      }
    }
    .pages {
      margin-right: 40px;
      font-size: 14px;
      :global {
        .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
        .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
        .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
        .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
        .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
        .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
        .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
        .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
          color: #2f281e;
        }
        .ant-menu-horizontal {
          border-bottom: none;
        }
      }
    }
  }
}
