.home {
  display: block;

  section {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.banner {
  height: 810px;
  background: url('../images/home_banner1.png') no-repeat center center;
  background-size: 100% auto;

  h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    margin-top: 233px;
  }

  h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6;
    text-align: center;
    margin-top: 60px;
  }

  a {
    color: #000;
    font-size: 16px;
    text-align: center;
    line-height: 55px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 4px;
    width: 180px;
    height: 55px;
    margin: 0 auto;
    margin-top: 90px;
    display: block;
  }
}

.highcosts {
  height: 700px;
  background: url('../images/highcosts_bg.png') no-repeat center bottom;
  background-size: 100% auto;

  h2 {
    font-size: 34px;
    font-weight: normal;
    margin-top: 70px;
    text-align: center;
  }

  h3 {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.2;
  }

  p {
    font-size: 16px;
    color: #544837;
    margin-top: 20px;
  }

  ul {
    width: 1100px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #000;

    li {
      width: 23%;
      margin: 0 1%;
      padding-top: 90px;
      float: left;
      border-bottom: #000;
      list-style-type: none;
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 70px 70px;
    }

    li:nth-child(1) {
      background-image: url(../images/icon-building.png);
    }

    li:nth-child(2) {
      background-image: url(../images/icon-hand.png);
    }

    li:nth-child(3) {
      background-image: url(../images/icon-operation.png);
    }

    li:nth-child(4) {
      background-image: url(../images/icon-dollar.png);
    }
  }
}

.values {
  height: 775px;
  background-color: #999;
}

.why {
  height: 550px;
  background-color: #fff;
}

.advisory {
  height: 550px;
  background-color: #999;
}

.products {
  height: 880px;
  background-color: #fff;
}

.partners {
  height: 370px;
  background-color: #999;
}
