/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@color1: #373737;
@color2: #544837;
@color3: #2f281e;

section {
  font-family: "Inter", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: @color3;
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
  display: block;
}

h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  display: block;
}

h2 {
  font-size: 34px;
  color: @color3;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  color: @color3;
}

p {
  color: @color2;
  font-size: 16px;
  line-height: 1.7;
  padding: 0;
  margin: 0;
}

p.list {
  padding-left: 20px;
  background: url('data:image/svg+xml;utf8,<svg width="7" height="7" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle cx="3" cy="3" r="2.5" stroke="rgb(84,72,55)" stroke-width="0" fill="rgb(84,72,55)"/></svg>') no-repeat 0 11px;
}

// }

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 810px;
  background: url('../images/home_banner1.png') no-repeat center center;
  background-size: 100% auto;

  h2 {
    color: @color1;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.4;
  }

  h3 {
    color: @color2;
    font-size: 18px;
    line-height: 1.6;
    margin: 60px 0 90px 0;
  }

  a {
    color: @color1;
    font-size: 16px;
    text-align: center;
    line-height: 55px;
    border: 1px solid @color1;
    border-radius: 4px;
    width: 180px;
    height: 55px;
    margin: 0 auto;
  }
}

.highcosts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 700px;
  background: url('../images/highcosts_bg.png') no-repeat center bottom;
  background-size: 100% auto;

  h2 {
    margin: 90px 0 64px 0;
  }

  ul {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  li {
    width: 239px;
    padding-top: 93px;
    background: no-repeat 0 0;
    background-size: 70px 70px;

    &:nth-child(1) {
      background-image: url(../images/icon-building.png);
    }

    &:nth-child(2) {
      background-image: url(../images/icon-hand.png);
    }

    &:nth-child(3) {
      background-image: url(../images/icon-operation.png);
    }

    &:nth-child(4) {
      background-image: url(../images/icon-dollar.png);
    }
  }

  h3 {
    color: @color3;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  p {
    color: @color2;
    font-size: 16px;
    line-height: 1.67;
    margin-top: 20px;
  }
}

.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 775px;

  h2 {
    width: 1125px;
    margin: 70px 0 37px 0;
  }

  h3 {
    text-transform: uppercase;
    margin: 30px 0 27px 0;
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 1164px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    background: no-repeat 0 0;
    background: url('data:image/svg+xml,<svg width="1163" height="550" version="1.1" xmlns="http://www.w3.org/2000/svg"><line x1="180" y1="250" x2="922" y2="250" style="stroke:rgb(239,87,12);stroke-width:10"/><rect x="313" y="109" rx="20" ry="20" width="532" height="370" style="fill:rgb(255,238,177);opacity:0.9"/><circle cx="190" cy="250" r="55" stroke="rgb(239,87,12)" stroke-width="2" fill="rgb(255,255,255)"/><circle cx="922" cy="250" r="55" stroke="rgb(239,87,12)" stroke-width="2" fill="rgb(255,255,255)"/></svg>') no-repeat 0 0;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 850px;
  }

  div {
    width: 1050px;
    height: 53px;
    margin-top: -30px;
    font-size: 16px;
    color: @color2;
    line-height: 1.67;
    text-align: right;
  }

  li {
    width: 140px;
    padding-top: 130px;
    background: no-repeat 0 32px;
    background-size: 70px 70px;

    h3 {
      text-transform: none;
      line-height: 1.2;
      margin: 0 0 20px 0;
    }

    &:nth-child(1) {
      width: 150px;
      background-image: url(../images/icon-building.png);
    }

    &:nth-child(2) {
      background-image: url(../images/icon-edit.png);
    }

    &:nth-child(3) {
      background-image: url(../images/icon-film.png);
    }

    &:nth-child(4) {
      background-image: url(../images/icon-handshake.png);
    }

    &:nth-child(5) {
      width: 120px;
      background-image: url(../images/icon-investor.png);
    }
  }
}

.why {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 560px;

  h2 {
    width: 1125px;
    margin: 76px 0 30px 0;
  }

  h3 {
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1125px;
  }

  li {
    width: 230px;
    padding-top: 90px;
    background: no-repeat 0 0;
    background-size: 70px 70px;

    &:nth-child(1) {
      background-image: url(../images/icon-people.png);
    }

    &:nth-child(2) {
      background-image: url(../images/icon-future.png);
    }

    &:nth-child(3) {
      background-image: url(../images/icon-security.png);
    }

    &:nth-child(4) {
      background-image: url(../images/icon-invest.png);
    }
  }
}

.advisory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 705px;

  h2 {
    width: 1125px;
    margin: 86px 0 30px 0;
  }

  div {
    width: 1086px;
    height: 510px;
    background: url(../images/home_banner2.png) no-repeat center top;
    background-size: auto 510px;
    position: relative;

    h3 {
      width: 300px;
      position: absolute;

      &:nth-child(1) {
        left: 150px;
        top: 40px;
      }

      &:nth-child(2) {
        left: 130px;
        top: 210px;
      }

      &:nth-child(3) {
        left: 110px;
        top: 380px;
      }

      &:nth-child(4) {
        left: 800px;
        top: 40px;
      }

      &:nth-child(5) {
        left: 845px;
        top: 220px;
      }

      &:nth-child(6) {
        left: 770px;
        top: 390px;
      }
    }

    h4 {
      font-size: 18px;
      font-weight: 100;
      margin: 0;
      color: @color2;
      position: absolute;

      &:nth-child(7) {
        left: 845px;
        top: 260px;
      }

      &:nth-child(8) {
        left: 770px;
        top: 430px;
      }
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url(../images/bg-products.png) no-repeat right 180px;
  background-size: 600px auto;
  padding-bottom: 60px;

  h2 {
    width: 1125px;
    margin: 70px 0 20px 0;
  }

  div {
    display: flex;
    flex-direction: row;
    width: 1125px;
  }

  a {
    padding: 0 20px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border: 1px solid #ef570c;
    border-radius: 3px;
    font-size: 16px;
    color: #ef570c;
  }

  a.products_highlight {
    background: #ef570c;
    color: #fff;
  }

  h4 {
    color: @color2;
    width: 1125px;
    font-size: 16px;
    margin: 22px 0 30px 0;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1125px;
  }

  li {
    width: 352px;
    height: 586px;
    padding-top: 110px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    background: url(../images/icon-sto.png) #fff no-repeat center 40px;
    background-size: auto 60px;

    &:nth-child(1) {
      background-image: url(../images/icon-sto.png);
    }

    &:nth-child(2) {
      background-image: url(../images/icon-token.png);
    }

    &:nth-child(3) {
      background-image: url(../images/icon-list.png);
    }
  }

  h5 {
    color: #0f1c49;
    font-size: 24px;
    line-height: 38px;
    height: 38px;
    text-align: center;
    margin: 15px 0 25px 0;
  }

  p {
    width: 260px;
    margin: 0 auto;
  }
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h2 {
    margin: 35px 0 110px 0;
  }

  aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1216px;
    height: 70px;
  }

  div {
    // display: flex;
    // flex-direction: row;
    width: 1160px;
    height: 70px;
    position: relative;
    overflow: hidden;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 300%;
    left: -100%;
    top: 0;
    position: absolute;
  }

  ul.prev {
    left: 0;
    transition: left .3s ease-in-out;
  }

  ul.next {
    left: -200%;
    transition: left .3s ease-in-out;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #fff;
  }

  p {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;

    &:nth-child(3) {
      display: flex;
    }
  }

  img {
    height: 70px;
    width: auto;
    // margin: 0 35px;
  }

  .aws {
    height: 50px;
  }

  .boarderless {
    height: 50px;
  }

  .cbc {
    height: 80px;
  }

  .ccb {
    height: 50px;
  }

  .cyberport {
    height: 70px;
  }

  ;

  .draper {
    height: 50px;
  }

  .edv {
    height: 62px;
  }

  .elliptic {
    height: 200px
  }

  .hanwha {
    height: 70px
  }

  .hkbitex {
    height: 60px
  }

  .king {
    height: 60px;
  }

  .kpmg {
    height: 70px;
  }

  .kwm {
    height: 90px;
  }

  .ledger {
    height: 50px;
  }

  .lenovo {
    height: 55px;
  }

  .lingfeung {
    height: 55px;
  }

  .lloyds {
    height: 50px;
  }

  .nasdaq {
    height: 60px;
  }

  .qbn {
    height: 50px;
  }

  .refinitiv {
    height: 50px;
  }

  .signature {
    height: 60px;
  }

  .hksi {
    width: 213px;
    height: 70px;
  }

  .fathk {
    width: 163px;
    height: 70px;
  }

  .hku {
    width: 300px;
    height: auto;
  }

  .deloitte {
    width: 200px;
    height: 70px;
  }
}
