.footer {
  width: 100%;
  .footer-guide {
    height: 318px;
  }
  .copyright {
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: #9c3434;
    font-size: 14px;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.6);
  }
  .rectangle {
    background-color: #611f1f;
    text-align: center;
    font-size: 10px;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.6);
    padding: 34px 20px 28px;
  }
}
